@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');
 
/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

body {
    margin: 0px;
    padding:0px;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
}
.container {
    max-width:1140px;
    margin:auto;
}
.bar {
    background-color:#006341;
    width:168px;
    height:22px;
}
h1 {
    font-size:85px;
    font-weight:bold;
    font-family:'Oswald', sans-serif;
    line-height: 100px;
    margin:0px;
    margin-bottom:30px;
}
h2 {
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    font-size:40px;    
    line-height: 50px;
    margin:20px 0px; 
}
.buttom {
    display:inline-block;
    border:2px solid #454545;
    padding:10px 27px;
    border-radius:3px;
    text-decoration: none;
    color:#454545;  
}
.buttom:hover {
    color:#ffffff;
    background-color:#454545;
}
/*----------------------------------ara header-----------------------------------*/

header .line {
    background-color:#107050;
    height:10px;
}


.header--area {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100px;
}
.header--right {
    display:flex;
    align-items: center;
}
.header--left img{
    width:64px;
    height:64px;
}
form {
    display: flex;
}
form input {
    font-size:16px;
    padding:8px 15px; 
    border:1px solid #999999;
    outline: 0px;
    width:100%;
    max-width: 250px;
}
form button {
    border:0px;
    background-color: transparent;
    margin-left:-30px;
    cursor: pointer;
}
form button img {
    width:16px;
    height:16px;
}
.header--menu {
    margin-left:50px;
    cursor:pointer;
}
.header--menu img {
    width:24px;
    height:24px;
}

/*----------------------------------banner----------------------------------*/

.banner {
    background:url(../imagens/bg.jpg) no-repeat center;
    background-size: cover;
    padding-top:90px;
    padding-bottom:90px;
}
.banner--images {
    margin-top:60px;
}
.banner--images img{
    width:148px;
    height: 148px;
    border:6px solid #107050;
    border-radius:50%;
    margin-right:30px;
}

/*----------------------------------area 1----------------------------------*/

.area1 {
    display:grid;
    grid-template-columns:  repeat(2, 1fr);
}
.area1--content {
    padding:80px;
}
.area1--quote {
    margin-bottom:30px;
}
.area1--text {
    margin-bottom:50px;
    line-height:28px;
}
.area1--img1 {
    height:450px;
    background:url('../imagens/f2.jpg') no-repeat center;
    background-size:cover;
}
.area1--img2 {
    grid-column: 2 / 3;
    grid-row:1 / 3;
    background:url('../imagens/f1.jpg') no-repeat center;
    background-size:cover;
}

/*----------------------------------area 2----------------------------------*/

.area2 {
    display:grid;
    grid-template-columns:  repeat(2, 1fr);
}
.area2--content {
    padding:80px;
}
.area2--text {
    margin-bottom:50px;
    line-height:28px;
}
.area2--img1 {
    height:350px;
    background:url('../imagens/f4.jpg') no-repeat center;
    background-size:cover;
}
.area2--img2 {
    grid-column: 1 / 2;
    grid-row:1 / 3;
    background:url('../imagens/f3.jpg') no-repeat center;
    background-size:cover;
}

/*----------------------------------area 3----------------------------------*/

.area3 {
    display:grid;
    grid-template-columns:  repeat(2, 1fr);
}
.area3--content {
    padding:200px 80px;
    background:url('../imagens/bg2.jpg') no-repeat left bottom;
    background-size:cover;
}
.area3--text {
    margin-bottom:50px;
    line-height:28px;
}
.area3--img1 {
    background:url('../imagens/f5.jpg') no-repeat center;
    background-size:cover;
}

/*----------------------------------area 4----------------------------------*/

.area4 {
    display:grid;
    grid-template-columns:490px 1fr;
}
.area4--content {
    padding:150px 80px;
    background-image: linear-gradient(to left, #E9EAEF, transparent);
}
.area4--text {
    margin-bottom:50px;
    line-height:28px;
}
.area4--img1 {
    background:url('../imagens/bg3.jpg') no-repeat left;
    background-size:cover;
}

/*----------------------------------area 5----------------------------------*/

.area5 {
    height:550px;
    background:url('../imagens/bg4.jpg') no-repeat center bottom;
    background-size:cover;
}

/*----------------------------------footer----------------------------------*/

footer {
    background-color: #333;
    color:#ffffff;
    padding:80px;
    text-align: center;
}

/*----------------------------------Responsividade----------------------------------*/

@media (min-width:769px) and (max-width:1140px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }
}


@media (min-width:426px) and (max-width:768px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }
    .area1 {
        grid-template-columns: 3fr 2fr;
    }
    .area2 {
        grid-template-columns: 2fr 3fr;
    }
    .area3 {
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width:425px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }
    .header--menu {
        margin-left:20px;
    }
    form input {
       max-width:80px; 
    }
    form {
        display: flex;
        justify-content: flex-end;
    }
    h1 {
        font-size:60px;
        line-height:70px;
    }
    h2 {
        font-size:30px;
        line-height:30px;
    }
    .banner--images img {
        width:70px;
        height:70px;
        border:4px solid #117050;
        border-radius:50%;
        margin-right:10px;
    }
    .area1,
    .area2, 
    .area3, 
    .area4 {
        grid-template-columns:1fr;
    }
    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding:40px;
    }
    .area5 {
        height:200px;
    }
    footer {
        font-size:12px;
        padding:40px 20px;
    }
}   




 